*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/blackmarket/target/
/blackmarket-core/target/
/blackmarket/blackmarket-core/target/
/blackmarket/blackmarket-ui/target/