@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

body { background-color: #F3F3F3; font-family: 'Segoe UI'; }

.heading {
   text-align: center;
   background-color: #bac3c3;
   border: 2px solid black;
}
   
.left {
   float: left;
   padding: 0px 10px 0px 0px;
   width: 190px;
   vertical-align: text-top;
}

.leftnew {
   float: left;
   padding: 0px 10px 0px 0px;
   width: 310px;
   vertical-align: text-top;
}

.middle {
   top: 10px;
   margin-left: 190px;
   margin-right: 100px;
   background-color: #fff;
   vertical-align: text-top;
}

.middlenew {
   top: 10px;
   margin-left: 310px;
   margin-right: 100px;
   background-color: #fff;
   vertical-align: text-top;
}

.right {
   float: right;
   padding: 0px 0px 0px 5px;
   width: 100px;
   vertical-align: text-top;
}
.rightnew {
   float: right;
   padding: 0px 0px 0px 5px;
   width: 100px;
   vertical-align: text-top;
}

.footer {
   padding-top: 10px;
   text-align: center;
   clear: both;
}

.fatline {
    height: 3pt;
    color: #000;
    background-color: #000;
}

pre {
   border: 2px solid;
   background-color:#fff;
}
legend { font-weight: bold; }
.alignright { text-align: right; }
